.footer {
  background: #FFFFFF;
  padding: 10px 0;
  text-align: center;
}
.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 5px;
  transition: all .5s ease;
  text-align: center;
}

.footer a:hover {
  color: #e2e2e2;
}